<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>
<body>
    <h1>Question</h1>
    <form action="/question" method="post">
        <input type="text" name="moduleId" placeholder="moduleId"><br><br>
        <input type="text" name="question" placeholder="question"><br><br>
        <input type="text" name="op_one" placeholder="op_one"><br><br>
        <input type="text" name="op_two" placeholder="op_two"><br><br>
        <input type="text" name="op_three" placeholder="op_three"><br><br>
        <input type="text" name="op_forth" placeholder="op_forth"><br><br>
        <input type="text" name="answer" placeholder="answer"><br><br>
        <input type="submit">


    </form>
</body>
</html>